@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

div img {
  margin: 0px auto;
  display: block;
}

.guide img {
  margin: 80px auto;
  display: block;
  width: 30%;
}

.fixed {
  position: fixed;
  right: 100px;
  bottom: 100px;
}

.fixed:hover {
  opacity: 0.8;
}

.fixed2 {
  position: fixed;
  right: 100px;
  bottom: 40px;
}

.fixed2:hover {
  opacity: 0.8;
}